.hstyle {
  text-transform: uppercase;
  font-size: 1.8rem;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 10s infinite linear;
  padding-left: 37%;
  /*Initial offset, which places the text off-screen*/
}

.hstyle span {
  background: -webkit-linear-gradient(#d40000, #cccccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  vertical-align: middle;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

/* .loader-container {
  width: 35%;
  height: 100vh;
  position: fixed;
  background:
    url("https://media.giphy.com/media/h0tQWkAgAVhr9F8I0r/giphy.gif") center no-repeat;
  z-index: 1; 
} */

/* .modal-content {
  background-color: transparent;
  border: transparent;
} */